:root {
  --color-light-gray: #ececec;
  --color-message-in: #F8F5FF;
  --color-message-out: #E9F3FF ;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px !important;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #010336;
}

.fs-4 { font-size: 1.25rem !important; }
.fs-5 { font-size: 1.15rem !important;}
.p-5 { padding: 1.25rem !important; }
.pe-5 { padding-right: 1.25rem !important; }
.me-n5 { margin-right: -1.25rem !important; }
.mb-10 { margin-bottom: 2.5rem !important; }

.text-start { text-align: left !important; }
.text-end { text-align: right !important; }

.mw-lg-400px { max-width: 400px !important; }


.bg-message-in { background-color: var(--color-message-in) !important }
.bg-message-out { background-color: var(--color-message-out) !important }


/***********************
    ANIMAZIONE DRAWER E OVERLAY
*********************/
#chat_drawer {
    width: 500px;
    height: 100%;
    /* height: 600px; */
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 1050;
}


.chat_drawer_end {
    /******* POSIZIONE ORIGINALE ********/
    /* right: 0;
    transform: translateX(100%); */
    /******** POSIZIONE AL CENTRO ********/
    left: 50%; 
    transform: translateX(calc(50vw + 50%));
}

.chat_drawer_on.chat_drawer_end {
    /******** POSIZIONE ORIGINALE ********/
    /* transform: translateX(0);   */
    /********* POSIZIONE AL CENTRO ********/
    transform: translateX(-50%);
}


#chat_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/****************************************************
    CARD E SROLL (applicato a #chat_messages)
*************************************/
#chat_card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chat_card-header {
    display: flex;
    min-height: 70px;
    padding: 0 2.25rem;
    border-bottom: 1px solid var(--color-light-gray);
}

#chat_card-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem 2.25rem;
}

#chat_messages {
    overflow-y: scroll;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: var(--color-light-gray) transparent !important;
}

#chat_card-footer {
    padding: 2rem 2.25rem;
    border-top: 1px solid var(--color-light-gray);
}



/**/
.badge {
    display: inline-flex;
    align-items: center; 
}
.badge.badge-circle, .badge.badge-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    min-width: 1.75rem;
    padding: 0 0.1rem;
    line-height: 0;
    width: 10px !important;
    height: 10px !important;
}
.badge.badge-circle {
    border-radius: 50%;
    padding: 0;
    min-width: unset;
    width: 1.75rem;
}

.badge-success {
    color: var(--bs-success-inverse);
    background-color: #17c653;
}

.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.475rem;
}
.symbol.symbol-35px > img {
    width: 35px;
    height: 35px;
}
.symbol.symbol-circle,
.symbol.symbol-circle > img,
.symbol.symbol-circle .symbol-label {
    border-radius: 50%;
}