:root {
  --color-light-gray: #F1F1F4;
  --color-message-in: #F8F5FF;
  --color-message-out: #E9F3FF ;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px !important;
}

body{
    font-family: "Inter", sans-serif;
}

.fs-5 { font-size: 1.15rem !important;}
.p-5 { padding: 1.25rem !important; }
.pe-5 { padding-right: 1.25rem !important; }
.me-n5 { margin-right: -1.25rem !important; }
.mb-10 { margin-bottom: 2.5rem !important; }

.text-start { text-align: left !important; }
.text-end { text-align: right !important; }

.mw-lg-400px { max-width: 400px !important; }


.bg-light-info { background-color: var(--color-message-in) !important }
.bg-light-primary { background-color: var(--color-message-out) !important }


/* Additional styles to ensure proper layout and scrolling */
#kt_drawer_chat {
    width: 500px;
    position: fixed;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#kt_drawer_chat_messenger {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#kt_drawer_chat_messenger_body {
    flex-grow: 1;
    overflow-y: auto;
}

.scroll-y {
    overflow-y: scroll;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: var(--color-light-gray) transparent !important;
}


/*****************
    DRAWER
*****************/
.drawer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Generic shadow */
    transition: transform 0.3s ease-in-out;
    z-index: 1050; /* Needs to be above other content */
}

.drawer-end {
    right: 0;
    transform: translateX(100%); /* Hidden state */
}

.drawer-on.drawer-end {
    transform: translateX(0); /* Shown state */
}

/* Overlay styles */
.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1040; /* Below the drawer */
}
/*****************
    DRAWER END
*****************/



a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.fs-4 {
    font-size: 1.25rem !important;
}

.card{
    background-color: inherit;
}
.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    border-bottom: 1px solid var(--color-light-gray);
    background-color: transparent;
}

.card .card-body {
    padding: 2rem 2.25rem;
}
.card .card-footer {
    padding: 2rem 2.25rem;
    color: var(--bs-card-cap-color);
    background-color: transparent;
    border-top: 1px solid var(--color-light-gray);
}
.card .card-scroll {
    position: relative;
    overflow: auto;
}




.badge {
    display: inline-flex;
    align-items: center;
    
}
.badge.badge-circle, .badge.badge-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    min-width: 1.75rem;
    padding: 0 0.1rem;
    line-height: 0;
    width: 10px !important;
    height: 10px !important;
}
.badge.badge-circle {
    border-radius: 50%;
    padding: 0;
    min-width: unset;
    width: 1.75rem;
}

.badge-success {
    color: var(--bs-success-inverse);
    background-color: #17c653;
}







.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.475rem;
}
.symbol.symbol-35px > img {
    width: 35px;
    height: 35px;
}
.symbol.symbol-circle,
.symbol.symbol-circle > img,
.symbol.symbol-circle .symbol-label {
    border-radius: 50%;
}